<!DOCTYPE html>

<html>
    <head>
        <title>Login!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="login.css" />
    </head>
    <body>
        <div class="login">

            <form method="post" action="../index.php?handler=auth&action=login">
                <table>
                    <tr>
                        <td>
                            <label>
                                Username:
                            </label> 
                        </td>

                        <td>
                            <label>
                                <input type="text" name="username" value=""/> 
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>
                                Password:
                            </label>
                        </td>

                        <td>
                            <input type="password" name="pass" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="auth" value="Login"/>
                        </td>

                    </tr>
                    
                    <tr>
                        <td>
                        <a href="viewLoginAdmin.html">Login as admin!</a>   
                        </td>
                        <td>
                            <a href="viweregister.html"><center>Register!</center></a> 
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </body>
</html>
