<!DOCTYPE html>

<html>
    <head>
        <title>Register!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="register.css" />
    </head>
    <body>
        <div class="register">
            <form method="post" action="../index.php?handler=auth&action=register">
             <table>
                 <tr>
                     <td>
                         <label>Username:  </label>
                     </td>
                     <td>
                     <input type="text" name="username" autocomplete="off" value=""/>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Password:  </label>
                     </td>
                     <td>
                         <input type="password" autocomplete="off" name="pass" value=""/>  
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <label>Name:</label>
                     </td>
                     <td>
                        <input type="text" name="name" value=""/>
                     </td>
                 </tr>
                 <tr>
                     <td>
                        Email: 
                     </td>
                     <td>
                         <input type="text" name="email" value=""/>
                     </td>
                 </tr>
                 <tr>
                     <td>
                        <a href="viewlogin.html">BACK</a> 
                     </td>
                     <td>
                        <input type="submit" name="auth" value="Sing up"/>
                     </td>
                 </tr>
            </table>
            </form>

        </div>
    </body>
</html>
